.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * color scale
 */

.react-calendar-heatmap .color-0 {
  fill: #888888;
}
.react-calendar-heatmap .color-1 {
  fill: #0e4d64;
}
.react-calendar-heatmap .color-2 {
  fill: #137177;
}
.react-calendar-heatmap .color-3 {
  fill: #188977;
}
.react-calendar-heatmap .color-4 {
  fill: #1d9a6c;
}
.react-calendar-heatmap .color-5 {
  fill: #39a96b;
}
.react-calendar-heatmap .color-6 {
  fill: #56b870;
}
.react-calendar-heatmap .color-7 {
  fill: #74c67a;
}
.react-calendar-heatmap .color-8 {
  fill: #99d492;
}
.react-calendar-heatmap .color-9 {
  fill: #bfe1b0;
}
.react-calendar-heatmap .color-10 {
  fill: #deedcf;
}
.react-calendar-heatmap .color-0f {
  fill: #888888;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-1f {
  fill: #0e4d64;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-2f {
  fill: #137177;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-3f {
  fill: #188977;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-4f {
  fill: #1d9a6c;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-5f {
  fill: #39a96b;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-6f {
  fill: #56b870;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-7 {
  fill: #74c67a;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-8f {
  fill: #99d492;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-9f {
  fill: #bfe1b0;
  outline: 2px solid yellow;
}
.react-calendar-heatmap .color-10f {
  fill: #deedcf;
  outline: 2px solid yellow;
}
